In [1]:
'''
    Compute descriptive statistics
    Correlation
    Linear regression
    Pivot tables
'''

'\n    Compute descriptive statistics\n    Correlation\n    Linear regression\n    Pivot tables\n'

In [3]:
# Computing Aggregate Statistics
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = zip(names,grades)
df = pd.DataFrame(data=GradeList,columns=['Names','Grades'])
df

     Names  Grades
0      Bob      76
1  Jessica      95
2     Mary      77
3     John      78
4      Mel      99

In [4]:
df['Grades'].count() # number of values

5

In [5]:
df['Grades'].mean()

85.0

In [6]:
df['Grades'].std()

11.067971810589327

In [7]:
df['Grades'].min()

76

In [8]:
df['Grades'].max()

99

In [9]:
df['Grades'].quantile(.25)

77.0

In [10]:
df['Grades'].quantile(.5)

78.0

In [11]:
df['Grades'].quantile(.75)

95.0

In [12]:
df['Grades'].median()

78.0

In [14]:
# the most common single value
df['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [15]:
df['Grades'].var()

122.5

In [16]:
'''
    If you just run it against the whole dataframe, you will get the function to run on all applicable columns
'''
df.var()

Grades    122.5
dtype: float64