In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Part 1: Read Files
path = r'C:\Users\jjia35\Downloads\Data-Analysis-with-Python-main\Project 1 - data\data\\'
population = pd.read_excel(path+'state_data.xls', sheet_name = 'population')
population.head()

population['State']

0               Alabama
1                Alaska
2     All United States
3               Arizona
4              Arkansas
5            California
6              Colorado
7           Connecticut
8              Delaware
9               Florida
10              Georgia
11               Hawaii
12                Idaho
13             Illinois
14              Indiana
15                 Iowa
16               Kansas
17             Kentucky
18            Louisiana
19                Maine
20             Maryland
21        Massachusetts
22             Michigan
23            Minnesota
24          Mississippi
25             Missouri
26              Montana
27             Nebraska
28               Nevada
29        New Hampshire
30           New Jersey
31           New Mexico
32             New York
33       North Carolina
34         North Dakota
35                 Ohio
36             Oklahoma
37               Oregon
38         Pennsylvania
39         Rhode Island
40       South Carolina
41         South Dakota
42            Tennessee
43                Texas
44                 Utah
45              Vermont
46             Virginia
47           Washington
48     Washington, D.C.
49        West Virginia
50            Wisconsin
51              Wyoming
Name: State, dtype: object

In [7]:
'''
    np.where(condition, [x, y])
        - [x, y] means values from which to choose
        - return an array with elements from x where condition is True, and elements from y elsewhere
        
    Example:
    
    a = np.array([[0, 1, 2],
              [0, 2, 4],
              [0, 3, 6]])
    np.where(a < 4, a, -1)  # -1 is broadcast
    array([[ 0,  1,  2],
           [ 0,  2, -1],
           [ 0,  3, -1]])
           
    In a word, for all the elements in a, if they satisfy the condition "a < 4", then they remain "a". If they don't satisfy the condition "a < 4", then they should be changed to "-1")
'''
population['State'].str.contains('D.C.')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48     True
49    False
50    False
51    False
Name: State, dtype: bool

In [9]:
population['State'] = np.where(population['State'].str.contains('D.C.'), 'District of Columbia', population['State'])
population = population[~(population['State'] == 'All United States')] # delete "All United States" row
population = population.rename(columns = {'Rank': 'Population Rank'})
population.head(60)

,Population Rank,State,Population in 2021,Population in 2020
0,24.0,Alabama,5039877,5024279
1,48.0,Alaska,732673,733391
3,14.0,Arizona,7276316,7151502
4,33.0,Arkansas,3025891,3011524
5,1.0,California,39237836,39538223
6,21.0,Colorado,5812069,5773714
7,29.0,Connecticut,3605597,3605944
8,45.0,Delaware,1003384,989948
9,3.0,Florida,21781128,21538187
10,8.0,Georgia,10799566,10711908
11,40.0,Hawaii,1441553,1455271
12,38.0,Idaho,1900923,1839106
13,6.0,Illinois,12671469,12702379
14,17.0,Indiana,6805985,6785528
15,31.0,Iowa,3193079,3190369
16,35.0,Kansas,2934582,2937880
17,26.0,Kentucky,4509394,4505836
18,25.0,Louisiana,4624047,4657757
19,42.0,Maine,1372247,1362359
20,19.0,Maryland,6165129,6177224
21,15.0,Massachusetts,6984723,7029917
22,10.0,Michigan,10050811,10077331
23,22.0,Minnesota,5707390,5706494
24,34.0,Mississippi,2949968,2961279
25,18.0,Missouri,6168187,6154913
26,43.0,Montana,1104271,1084225
27,37.0,Nebraska,1963692,1961504
28,32.0,Nevada,3143991,3104614
29,41.0,New Hampshire,1388992,1377529
30,11.0,New Jersey,9267130,9288994
31,36.0,New Mexico,2115877,2117522
32,4.0,New York,19835913,20201249
33,9.0,North Carolina,10551162,10439388
34,47.0,North Dakota,774948,779094
35,7.0,Ohio,11780017,11799448
36,28.0,Oklahoma,3986639,3959353
37,27.0,Oregon,4246155,4237256
38,5.0,Pennsylvania,12964056,12812508
39,44.0,Rhode Island,1095610,1097379
40,23.0,South Carolina,5190705,5118425
41,46.0,South Dakota,895376,886667
42,16.0,Tennessee,6975218,6910840
43,2.0,Texas,29527941,29145505
44,30.0,Utah,3337975,3271616
45,50.0,Vermont,645570,643077
46,12.0,Virginia,8642274,8631393
47,13.0,Washington,7738692,7705281
48,49.0,District of Columbia,670050,689545
49,39.0,West Virginia,1782959,1793716
50,20.0,Wisconsin,5895908,5893718
51,51.0,Wyoming,578803,576851

In [10]:
total_size = pd.read_excel(path + 'state_data.xls', sheet_name = 'total_size')
total_size.head()

   Rank              State  Size\n(land & water)\n(square miles)
0   NaN  All United States                            3796742.23
1   1.0             Alaska                             665384.04
2   2.0              Texas                             268596.46
3   3.0         California                             163694.74
4   4.0            Montana                             147039.71

In [11]:
total_size = total_size.rename(columns = {'Rank': 'Total Size Rank', 'Size\n(land & water)\n(square miles)': 'total_size'})
total_size = total_size.rename(columns = {})
total_size = total_size[~(total_size['State'] == 'All United States')]
total_size.head(60)

    Total Size Rank              State  total_size
1               1.0             Alaska   665384.04
2               2.0              Texas   268596.46
3               3.0         California   163694.74
4               4.0            Montana   147039.71
5               5.0         New Mexico   121590.30
6               6.0            Arizona   113990.30
7               7.0             Nevada   110571.82
8               8.0           Colorado   104093.67
9               9.0             Oregon    98378.54
10             10.0            Wyoming    97813.01
11             11.0           Michigan    96713.51
12             12.0          Minnesota    86935.83
13             13.0               Utah    84896.88
14             14.0              Idaho    83568.95
15             15.0             Kansas    82278.36
16             16.0           Nebraska    77347.81
17             17.0       South Dakota    77115.68
18             18.0         Washington    71297.95
19             19.0       North Dakota    70698.32
20             20.0           Oklahoma    69898.87
21             21.0           Missouri    69706.99
22             22.0            Florida    65757.70
23             23.0          Wisconsin    65496.38
24             24.0            Georgia    59425.15
25             25.0           Illinois    57913.55
26             26.0               Iowa    56272.81
27             27.0           New York    54554.98
28             28.0     North Carolina    53819.16
29             29.0           Arkansas    53178.55
30             30.0            Alabama    52420.07
31             31.0          Louisiana    52378.13
32             32.0        Mississippi    48431.78
33             33.0       Pennsylvania    46054.34
34             34.0               Ohio    44825.58
35             35.0           Virginia    42774.93
36             36.0          Tennessee    42144.25
37             37.0           Kentucky    40407.80
38             38.0            Indiana    36419.55
39             39.0              Maine    35379.74
40             40.0     South Carolina    32020.49
41             41.0      West Virginia    24230.04
42             42.0           Maryland    12405.93
43             43.0             Hawaii    10931.72
44             44.0      Massachusetts    10554.39
45             45.0            Vermont     9616.36
46             46.0      New Hampshire     9349.16
47             47.0         New Jersey     8722.58
48             48.0        Connecticut     5543.41
49             49.0           Delaware     2488.72
50             50.0       Rhode Island     1544.89
51             51.0  Washington, D. C.       68.34

In [19]:
land_size = pd.read_excel(path + 'state_data.xls', sheet_name = 'land_size')
land_size.head()

   Rank              State  Land Area\n(square miles)
0   NaN  All United States                 3531905.43
1   1.0             Alaska                  570640.95
2   2.0              Texas                  261231.71
3   3.0         California                  155779.22
4   4.0            Montana                  145545.80

In [20]:
land_size = land_size[land_size['Rank'] >= 1] # We can also use this method to delete "ALL United States" row
land_size = land_size.rename(columns = {'Rank': 'Land Size Rank', 'Land Area\n(square miles)': 'land area'})
land_size.head(60)

    Land Size Rank              State  land area
1              1.0             Alaska  570640.95
2              2.0              Texas  261231.71
3              3.0         California  155779.22
4              4.0            Montana  145545.80
5              5.0         New Mexico  121298.15
6              6.0            Arizona  113594.08
7              7.0             Nevada  109781.18
8              8.0           Colorado  103641.89
9              9.0            Wyoming   97093.14
10            10.0             Oregon   95988.01
11            11.0              Idaho   82643.12
12            12.0               Utah   82169.62
13            13.0             Kansas   81758.72
14            14.0          Minnesota   79626.74
15            15.0           Nebraska   76824.17
16            16.0       South Dakota   75811.00
17            17.0       North Dakota   69000.80
18            18.0           Missouri   68741.52
19            19.0           Oklahoma   68594.92
20            20.0         Washington   66455.52
21            21.0            Georgia   57513.49
22            22.0           Michigan   56538.90
23            23.0               Iowa   55869.36
24            24.0           Illinois   55518.93
25            25.0          Wisconsin   54157.80
26            26.0            Florida   53924.76
27            27.0           Arkansas   52035.48
28            28.0            Alabama   50645.33
29            29.0     North Carolina   48617.91
30            30.0           New York   47126.40
31            31.0        Mississippi   46923.27
32            32.0       Pennsylvania   44742.70
33            33.0          Louisiana   43203.90
34            34.0          Tennessee   41234.90
35            35.0               Ohio   40860.69
36            36.0           Virginia   39490.09
37            37.0           Kentucky   39486.34
38            38.0            Indiana   35826.11
39            39.0              Maine   30842.92
40            40.0     South Carolina   30060.70
41            41.0      West Virginia   24038.21
42            42.0           Maryland    9707.24
43            43.0            Vermont    9216.66
44            44.0      New Hampshire    8952.65
45            45.0      Massachusetts    7800.06
46            46.0         New Jersey    7354.22
47            47.0             Hawaii    6422.63
48            48.0        Connecticut    4842.36
49            49.0           Delaware    1948.54
50            50.0       Rhode Island    1033.81
51            51.0  Washington, D. C.      61.05

In [21]:
water_area = pd.read_excel(path + 'state_data.xls', sheet_name = 'water_area')
water_area.head()

   Rank              State  Water Area\n(square miles)
0   NaN  All United States                   264836.79
1   1.0             Alaska                    94743.10
2   2.0           Michigan                    40174.61
3   3.0            Florida                    12132.94
4   4.0          Wisconsin                    11338.57

In [24]:
water_area = water_area.dropna(how = 'any', axis = 0) # delete the first row, NaN stands for Not a Number, which means the cell is blank
water_area = water_area.rename(columns = {'Rank': 'Water Area Rank', 'Water Area\n(square miles)': 'water area'})
water_area.head(60)

    Water Area Rank              State  water area
1               1.0             Alaska    94743.10
2               2.0           Michigan    40174.61
3               3.0            Florida    12132.94
4               4.0          Wisconsin    11338.57
5               5.0          Louisiana     9174.23
6               6.0         California     7915.52
7               7.0           New York     7428.58
8               8.0              Texas     7364.75
9               9.0          Minnesota     7309.09
10             10.0     North Carolina     5201.25
11             11.0         Washington     4842.43
12             12.0              Maine     4536.82
13             13.0             Hawaii     4509.09
14             14.0               Ohio     3964.89
15             15.0           Virginia     3284.84
16             16.0      Massachusetts     2754.33
17             17.0               Utah     2727.26
18             18.0           Maryland     2698.69
19             19.0           Illinois     2394.62
20             20.0             Oregon     2390.53
21             21.0     South Carolina     1959.79
22             22.0            Georgia     1911.66
23             23.0            Alabama     1774.74
24             24.0       North Dakota     1697.52
25             25.0        Mississippi     1508.51
26             26.0            Montana     1493.91
27             27.0         New Jersey     1368.36
28             28.0       Pennsylvania     1311.64
29             29.0       South Dakota     1304.68
30             30.0           Oklahoma     1303.95
31             31.0           Arkansas     1143.07
32             32.0           Missouri      965.47
33             33.0              Idaho      925.83
34             34.0           Kentucky      921.46
35             35.0          Tennessee      909.36
36             36.0             Nevada      790.65
37             37.0            Wyoming      719.87
38             38.0        Connecticut      701.06
39             39.0            Indiana      593.44
40             40.0           Delaware      540.18
41             41.0           Nebraska      523.64
42             42.0             Kansas      519.64
43             43.0       Rhode Island      511.07
44             44.0           Colorado      451.78
45             45.0               Iowa      415.68
46             46.0            Vermont      399.71
47             47.0      New Hampshire      396.51
48             48.0            Arizona      396.22
49             49.0         New Mexico      292.15
50             50.0      West Virginia      191.83
51             51.0  Washington, D. C.        7.29

In [25]:
population_density = pd.read_excel(path + 'state_data.xls', sheet_name = 'population_density')
population_density.head()

   Rank              State  Population Density
0   NaN  All United States              93.970
1   1.0  Washington, D. C.           10975.429
2   2.0         New Jersey            1260.110
3   3.0       Rhode Island            1059.778
4   4.0      Massachusetts             895.470

In [26]:
population_density = population_density[~population_density['Rank'].isnull()] # drop the first row by: if Rank is missing, then delete the row
population_density.rename(columns = {'Rank': 'Population Density Rank'}, inplace = True) # We can also use "inplace=True" and in this way, we don't have to use "population_density = population_density.rename(...)" 
population_density.head(60)

    Rank              State  Population Density
1    1.0  Washington, D. C.          10975.4290
2    2.0         New Jersey           1260.1100
3    3.0       Rhode Island           1059.7780
4    4.0      Massachusetts            895.4700
5    5.0        Connecticut            744.5940
6    6.0           Maryland            635.1062
7    7.0           Delaware            514.9410
8    8.0           New York            420.9080
9    9.0            Florida            403.9170
10  10.0       Pennsylvania            289.7460
11  11.0               Ohio            288.2970
12  12.0         California            251.8810
13  13.0           Illinois            228.2360
14  14.0             Hawaii            224.4490
15  15.0           Virginia            218.8460
16  16.0     North Carolina            217.0220
17  17.0            Indiana            189.9720
18  18.0            Georgia            187.7740
19  19.0           Michigan            177.7680
20  20.0     South Carolina            172.6740
21  21.0          Tennessee            169.1580
22  22.0      New Hampshire            155.1480
23  23.0         Washington            116.4490
24  24.0           Kentucky            114.2010
25  25.0              Texas            113.0330
26  26.0          Wisconsin            108.8650
27  27.0          Louisiana            107.0280
28  28.0            Alabama             99.5130
29  29.0           Missouri             89.7300
30  30.0      West Virginia             74.1710
31  31.0          Minnesota             71.6760
32  32.0            Vermont             70.0430
33  33.0            Arizona             64.0550
34  34.0        Mississippi             62.8670
35  35.0           Arkansas             58.1500
36  36.0           Oklahoma             58.1180
37  37.0               Iowa             57.1520
38  38.0           Colorado             56.0780
39  39.0              Maine             44.4910
40  40.0             Oregon             44.2360
41  41.0               Utah             40.6220
42  42.0             Kansas             35.8930
43  43.0             Nevada             28.6380
44  44.0           Nebraska             25.5600
45  45.0              Idaho             23.0010
46  46.0         New Mexico             17.4430
47  47.0       South Dakota             11.8100
48  48.0       North Dakota             11.2310
49  49.0            Montana              7.5870
50  50.0            Wyoming              5.9610
51  51.0             Alaska              1.2830

In [28]:
# Rename "Washington D.C." as "District of Columbia"
def change_DC(df):
    df['State'] = np.where(df['State'].str.contains("Washington,"), 'District of Columbia', df['State'])
    return df['State']

change_DC(total_size)
change_DC(land_size)
change_DC(water_area)
change_DC(population_density)

1     District of Columbia
2               New Jersey
3             Rhode Island
4            Massachusetts
5              Connecticut
6                 Maryland
7                 Delaware
8                 New York
9                  Florida
10            Pennsylvania
11                    Ohio
12              California
13                Illinois
14                  Hawaii
15                Virginia
16          North Carolina
17                 Indiana
18                 Georgia
19                Michigan
20          South Carolina
21               Tennessee
22           New Hampshire
23              Washington
24                Kentucky
25                   Texas
26               Wisconsin
27               Louisiana
28                 Alabama
29                Missouri
30           West Virginia
31               Minnesota
32                 Vermont
33                 Arizona
34             Mississippi
35                Arkansas
36                Oklahoma
37                    Iowa
38                Colorado
39                   Maine
40                  Oregon
41                    Utah
42                  Kansas
43                  Nevada
44                Nebraska
45                   Idaho
46              New Mexico
47            South Dakota
48            North Dakota
49                 Montana
50                 Wyoming
51                  Alaska
Name: State, dtype: object

In [30]:
## Part 2: Merge the Above Files and Read in More Data
tempdata = pd.merge(population, total_size, on = 'State', how = 'outer')
tempdata = pd.merge(tempdata, land_size, on = 'State', how = 'outer')
tempdata = pd.merge(tempdata, water_area, on = 'State', how = 'outer')
tempdata = pd.merge(tempdata, population_density, on = 'State', how = 'outer')
tempdata.sort_values(by = 'State', inplace = True)
tempdata.head(60)

,Population Rank,State,Population in 2021,Population in 2020,Total Size Rank,total_size,Land Size Rank,land area,Water Area Rank,water area,Rank,Population Density
0,24.0,Alabama,5039877,5024279,30.0,52420.07,28.0,50645.33,23.0,1774.74,28.0,99.5130
1,48.0,Alaska,732673,733391,1.0,665384.04,1.0,570640.95,1.0,94743.10,51.0,1.2830
2,14.0,Arizona,7276316,7151502,6.0,113990.30,6.0,113594.08,48.0,396.22,33.0,64.0550
3,33.0,Arkansas,3025891,3011524,29.0,53178.55,27.0,52035.48,31.0,1143.07,35.0,58.1500
4,1.0,California,39237836,39538223,3.0,163694.74,3.0,155779.22,6.0,7915.52,12.0,251.8810
5,21.0,Colorado,5812069,5773714,8.0,104093.67,8.0,103641.89,44.0,451.78,38.0,56.0780
6,29.0,Connecticut,3605597,3605944,48.0,5543.41,48.0,4842.36,38.0,701.06,5.0,744.5940
7,45.0,Delaware,1003384,989948,49.0,2488.72,49.0,1948.54,40.0,540.18,7.0,514.9410
47,49.0,District of Columbia,670050,689545,51.0,68.34,51.0,61.05,51.0,7.29,1.0,10975.4290
8,3.0,Florida,21781128,21538187,22.0,65757.70,26.0,53924.76,3.0,12132.94,9.0,403.9170
9,8.0,Georgia,10799566,10711908,24.0,59425.15,21.0,57513.49,22.0,1911.66,18.0,187.7740
10,40.0,Hawaii,1441553,1455271,43.0,10931.72,47.0,6422.63,13.0,4509.09,14.0,224.4490
11,38.0,Idaho,1900923,1839106,14.0,83568.95,11.0,82643.12,33.0,925.83,45.0,23.0010
12,6.0,Illinois,12671469,12702379,25.0,57913.55,24.0,55518.93,19.0,2394.62,13.0,228.2360
13,17.0,Indiana,6805985,6785528,38.0,36419.55,38.0,35826.11,39.0,593.44,17.0,189.9720
14,31.0,Iowa,3193079,3190369,26.0,56272.81,23.0,55869.36,45.0,415.68,37.0,57.1520
15,35.0,Kansas,2934582,2937880,15.0,82278.36,13.0,81758.72,42.0,519.64,42.0,35.8930
16,26.0,Kentucky,4509394,4505836,37.0,40407.80,37.0,39486.34,34.0,921.46,24.0,114.2010
17,25.0,Louisiana,4624047,4657757,31.0,52378.13,33.0,43203.90,5.0,9174.23,27.0,107.0280
18,42.0,Maine,1372247,1362359,39.0,35379.74,39.0,30842.92,12.0,4536.82,39.0,44.4910
19,19.0,Maryland,6165129,6177224,42.0,12405.93,42.0,9707.24,18.0,2698.69,6.0,635.1062
20,15.0,Massachusetts,6984723,7029917,44.0,10554.39,45.0,7800.06,16.0,2754.33,4.0,895.4700
21,10.0,Michigan,10050811,10077331,11.0,96713.51,22.0,56538.90,2.0,40174.61,19.0,177.7680
22,22.0,Minnesota,5707390,5706494,12.0,86935.83,14.0,79626.74,9.0,7309.09,31.0,71.6760
23,34.0,Mississippi,2949968,2961279,32.0,48431.78,31.0,46923.27,25.0,1508.51,34.0,62.8670
24,18.0,Missouri,6168187,6154913,21.0,69706.99,18.0,68741.52,32.0,965.47,29.0,89.7300
25,43.0,Montana,1104271,1084225,4.0,147039.71,4.0,145545.80,26.0,1493.91,49.0,7.5870
26,37.0,Nebraska,1963692,1961504,16.0,77347.81,15.0,76824.17,41.0,523.64,44.0,25.5600
27,32.0,Nevada,3143991,3104614,7.0,110571.82,7.0,109781.18,36.0,790.65,43.0,28.6380
28,41.0,New Hampshire,1388992,1377529,46.0,9349.16,44.0,8952.65,47.0,396.51,22.0,155.1480
29,11.0,New Jersey,9267130,9288994,47.0,8722.58,46.0,7354.22,27.0,1368.36,2.0,1260.1100
30,36.0,New Mexico,2115877,2117522,5.0,121590.30,5.0,121298.15,49.0,292.15,46.0,17.4430
31,4.0,New York,19835913,20201249,27.0,54554.98,30.0,47126.40,7.0,7428.58,8.0,420.9080
32,9.0,North Carolina,10551162,10439388,28.0,53819.16,29.0,48617.91,10.0,5201.25,16.0,217.0220
33,47.0,North Dakota,774948,779094,19.0,70698.32,17.0,69000.80,24.0,1697.52,48.0,11.2310
34,7.0,Ohio,11780017,11799448,34.0,44825.58,35.0,40860.69,14.0,3964.89,11.0,288.2970
35,28.0,Oklahoma,3986639,3959353,20.0,69898.87,19.0,68594.92,30.0,1303.95,36.0,58.1180
36,27.0,Oregon,4246155,4237256,9.0,98378.54,10.0,95988.01,20.0,2390.53,40.0,44.2360
37,5.0,Pennsylvania,12964056,12812508,33.0,46054.34,32.0,44742.70,28.0,1311.64,10.0,289.7460
38,44.0,Rhode Island,1095610,1097379,50.0,1544.89,50.0,1033.81,43.0,511.07,3.0,1059.7780
39,23.0,South Carolina,5190705,5118425,40.0,32020.49,40.0,30060.70,21.0,1959.79,20.0,172.6740
40,46.0,South Dakota,895376,886667,17.0,77115.68,16.0,75811.00,29.0,1304.68,47.0,11.8100
41,16.0,Tennessee,6975218,6910840,36.0,42144.25,34.0,41234.90,35.0,909.36,21.0,169.1580
42,2.0,Texas,29527941,29145505,2.0,268596.46,2.0,261231.71,8.0,7364.75,25.0,113.0330
43,30.0,Utah,3337975,3271616,13.0,84896.88,12.0,82169.62,17.0,2727.26,41.0,40.6220
44,50.0,Vermont,645570,643077,45.0,9616.36,43.0,9216.66,46.0,399.71,32.0,70.0430
45,12.0,Virginia,8642274,8631393,35.0,42774.93,36.0,39490.09,15.0,3284.84,15.0,218.8460
46,13.0,Washington,7738692,7705281,18.0,71297.95,20.0,66455.52,11.0,4842.43,23.0,116.4490
48,39.0,West Virginia,1782959,1793716,41.0,24230.04,41.0,24038.21,50.0,191.83,30.0,74.1710
49,20.0,Wisconsin,5895908,5893718,23.0,65496.38,25.0,54157.80,4.0,11338.57,26.0,108.8650
50,51.0,Wyoming,578803,576851,10.0,97813.01,9.0,97093.14,37.0,719.87,50.0,5.9610

In [31]:
# calculate % of Land area
tempdata['percent_land_area'] = tempdata['land area']/tempdata['total_size']

In [32]:
state_abbreviation = pd.read_csv(path + 'state_name_abbreviation.csv')
state_abbreviation.head()

        State State Abbreviation
0     Alabama                 AL
1      Alaska                 AK
2     Arizona                 AZ
3    Arkansas                 AR
4  California                 CA

In [35]:
solar_potential = pd.read_excel(path + 'state_data.xls', sheet_name = 'solar_potential')
solar_potential.sort_values(by = 'State', inplace = True)
solar_potential.rename(columns = {'Rank': 'Solar Potential Rank'}, inplace = True)
solar_potential.head(60)

    Solar Potential Rank           State  Sun Index
18                    13         Alabama       0.89
1                      2         Arizona       1.18
15                    11        Arkansas       0.91
3                      4      California       1.00
4                      5        Colorado       0.99
40                    21     Connecticut       0.79
28                    17        Delaware       0.84
8                      8         Florida       0.95
13                    10         Georgia       0.92
11                     9           Idaho       0.93
41                    21        Illinois       0.79
35                    18         Indiana       0.83
20                    14            Iowa       0.87
9                      8          Kansas       0.95
36                    18        Kentucky       0.83
16                    12       Louisiana       0.90
26                    17           Maine       0.84
27                    17        Maryland       0.84
31                    18   Massachusetts       0.83
44                    22        Michigan       0.77
29                    17       Minnesota       0.84
12                    10     Mississippi       0.92
23                    14        Missouri       0.87
24                    15         Montana       0.86
19                    13        Nebraska       0.89
0                      1          Nevada       1.19
32                    18   New Hampshire       0.83
38                    20      New Jersey       0.81
2                      3      New Mexico       1.16
33                    18        New York       0.83
17                    12  North Carolina       0.90
30                    17    North Dakota       0.84
45                    23            Ohio       0.74
6                      6        Oklahoma       0.98
46                    24          Oregon       0.71
34                    18    Pennsylvania       0.83
37                    19    Rhode Island       0.82
14                    10  South Carolina       0.92
22                    14    South Dakota       0.87
25                    16       Tennessee       0.85
5                      6           Texas       0.98
10                     8            Utah       0.95
43                    22         Vermont       0.77
21                    14        Virginia       0.87
47                    25      Washington       0.67
42                    21   West Virginia       0.79
39                    20       Wisconsin       0.81
7                      7         Wyoming       0.96

In [36]:
# removing leading and trailing blank
solar_potential['State'] = solar_potential['State'].astype(str)
tempdata['State'] = tempdata['State'].astype(str)

solar_potential['State'] = solar_potential['State'].str.lstrip()
solar_potential['State'] = solar_potential['State'].str.rstrip()

tempdata['State'] = tempdata['State'].str.lstrip()
tempdata['State'] = tempdata['State'].str.rstrip()

solar_potential = solar_potential.reset_index()
solar_potential.head(60)

    index  Solar Potential Rank           State  Sun Index
0      18                    13         Alabama       0.89
1       1                     2         Arizona       1.18
2      15                    11        Arkansas       0.91
3       3                     4      California       1.00
4       4                     5        Colorado       0.99
5      40                    21     Connecticut       0.79
6      28                    17        Delaware       0.84
7       8                     8         Florida       0.95
8      13                    10         Georgia       0.92
9      11                     9           Idaho       0.93
10     41                    21        Illinois       0.79
11     35                    18         Indiana       0.83
12     20                    14            Iowa       0.87
13      9                     8          Kansas       0.95
14     36                    18        Kentucky       0.83
15     16                    12       Louisiana       0.90
16     26                    17           Maine       0.84
17     27                    17        Maryland       0.84
18     31                    18   Massachusetts       0.83
19     44                    22        Michigan       0.77
20     29                    17       Minnesota       0.84
21     12                    10     Mississippi       0.92
22     23                    14        Missouri       0.87
23     24                    15         Montana       0.86
24     19                    13        Nebraska       0.89
25      0                     1          Nevada       1.19
26     32                    18   New Hampshire       0.83
27     38                    20      New Jersey       0.81
28      2                     3      New Mexico       1.16
29     33                    18        New York       0.83
30     17                    12  North Carolina       0.90
31     30                    17    North Dakota       0.84
32     45                    23            Ohio       0.74
33      6                     6        Oklahoma       0.98
34     46                    24          Oregon       0.71
35     34                    18    Pennsylvania       0.83
36     37                    19    Rhode Island       0.82
37     14                    10  South Carolina       0.92
38     22                    14    South Dakota       0.87
39     25                    16       Tennessee       0.85
40      5                     6           Texas       0.98
41     10                     8            Utah       0.95
42     43                    22         Vermont       0.77
43     21                    14        Virginia       0.87
44     47                    25      Washington       0.67
45     42                    21   West Virginia       0.79
46     39                    20       Wisconsin       0.81
47      7                     7         Wyoming       0.96

In [37]:
solar_potential.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 48 non-null     int64
 1   Solar Potential Rank  48 non-null     int64
 2   State                 48 non-null     object
 3   Sun Index             48 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.6+ KB

In [38]:
tempdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Population Rank     51 non-null     float64
 1   State               51 non-null     object
 2   Population in 2021  51 non-null     int64
 3   Population in 2020  51 non-null     int64
 4   Total Size Rank     51 non-null     float64
 5   total_size          51 non-null     float64
 6   Land Size Rank      51 non-null     float64
 7   land area           51 non-null     float64
 8   Water Area Rank     51 non-null     float64
 9   water area          51 non-null     float64
 10  Rank                51 non-null     float64
 11  Population Density  51 non-null     float64
 12  percent_land_area   51 non-null     float64
dtypes: float64(10), int64(2), object(1)
memory usage: 5.6+ KB

In [39]:
tempdata['State'] = tempdata['State'].astype('string')
solar_potential['State'] = solar_potential['State'].astype('string')

tempdata['State'] = tempdata['State'].str.strip()
solar_potential['State'] = solar_potential['State'].str.strip()

allfiles = pd.merge(tempdata, solar_potential, on = 'State', how = 'outer').reset_index()
allfiles.sort_values(by = 'State',inplace = True)
allfiles.head(60)

,level_0,Population Rank,State,Population in 2021,Population in 2020,Total Size Rank,total_size,Land Size Rank,land area,Water Area Rank,water area,Rank,Population Density,percent_land_area,index,Solar Potential Rank,Sun Index
0,0,24.0,Alabama,5039877,5024279,30.0,52420.07,28.0,50645.33,23.0,1774.74,28.0,99.5130,0.966144,18.0,13.0,0.89
1,1,48.0,Alaska,732673,733391,1.0,665384.04,1.0,570640.95,1.0,94743.10,51.0,1.2830,0.857611,NaN,NaN,NaN
2,2,14.0,Arizona,7276316,7151502,6.0,113990.30,6.0,113594.08,48.0,396.22,33.0,64.0550,0.996524,1.0,2.0,1.18
3,3,33.0,Arkansas,3025891,3011524,29.0,53178.55,27.0,52035.48,31.0,1143.07,35.0,58.1500,0.978505,15.0,11.0,0.91
4,4,1.0,California,39237836,39538223,3.0,163694.74,3.0,155779.22,6.0,7915.52,12.0,251.8810,0.951645,3.0,4.0,1.00
5,5,21.0,Colorado,5812069,5773714,8.0,104093.67,8.0,103641.89,44.0,451.78,38.0,56.0780,0.995660,4.0,5.0,0.99
6,6,29.0,Connecticut,3605597,3605944,48.0,5543.41,48.0,4842.36,38.0,701.06,5.0,744.5940,0.873535,40.0,21.0,0.79
7,7,45.0,Delaware,1003384,989948,49.0,2488.72,49.0,1948.54,40.0,540.18,7.0,514.9410,0.782949,28.0,17.0,0.84
8,8,49.0,District of Columbia,670050,689545,51.0,68.34,51.0,61.05,51.0,7.29,1.0,10975.4290,0.893327,NaN,NaN,NaN
9,9,3.0,Florida,21781128,21538187,22.0,65757.70,26.0,53924.76,3.0,12132.94,9.0,403.9170,0.820052,8.0,8.0,0.95
10,10,8.0,Georgia,10799566,10711908,24.0,59425.15,21.0,57513.49,22.0,1911.66,18.0,187.7740,0.967831,13.0,10.0,0.92
11,11,40.0,Hawaii,1441553,1455271,43.0,10931.72,47.0,6422.63,13.0,4509.09,14.0,224.4490,0.587522,NaN,NaN,NaN
12,12,38.0,Idaho,1900923,1839106,14.0,83568.95,11.0,82643.12,33.0,925.83,45.0,23.0010,0.988921,11.0,9.0,0.93
13,13,6.0,Illinois,12671469,12702379,25.0,57913.55,24.0,55518.93,19.0,2394.62,13.0,228.2360,0.958652,41.0,21.0,0.79
14,14,17.0,Indiana,6805985,6785528,38.0,36419.55,38.0,35826.11,39.0,593.44,17.0,189.9720,0.983705,35.0,18.0,0.83
15,15,31.0,Iowa,3193079,3190369,26.0,56272.81,23.0,55869.36,45.0,415.68,37.0,57.1520,0.992830,20.0,14.0,0.87
16,16,35.0,Kansas,2934582,2937880,15.0,82278.36,13.0,81758.72,42.0,519.64,42.0,35.8930,0.993684,9.0,8.0,0.95
17,17,26.0,Kentucky,4509394,4505836,37.0,40407.80,37.0,39486.34,34.0,921.46,24.0,114.2010,0.977196,36.0,18.0,0.83
18,18,25.0,Louisiana,4624047,4657757,31.0,52378.13,33.0,43203.90,5.0,9174.23,27.0,107.0280,0.824846,16.0,12.0,0.90
19,19,42.0,Maine,1372247,1362359,39.0,35379.74,39.0,30842.92,12.0,4536.82,39.0,44.4910,0.871768,26.0,17.0,0.84
20,20,19.0,Maryland,6165129,6177224,42.0,12405.93,42.0,9707.24,18.0,2698.69,6.0,635.1062,0.782468,27.0,17.0,0.84
21,21,15.0,Massachusetts,6984723,7029917,44.0,10554.39,45.0,7800.06,16.0,2754.33,4.0,895.4700,0.739035,31.0,18.0,0.83
22,22,10.0,Michigan,10050811,10077331,11.0,96713.51,22.0,56538.90,2.0,40174.61,19.0,177.7680,0.584602,44.0,22.0,0.77
23,23,22.0,Minnesota,5707390,5706494,12.0,86935.83,14.0,79626.74,9.0,7309.09,31.0,71.6760,0.915925,29.0,17.0,0.84
24,24,34.0,Mississippi,2949968,2961279,32.0,48431.78,31.0,46923.27,25.0,1508.51,34.0,62.8670,0.968853,12.0,10.0,0.92
25,25,18.0,Missouri,6168187,6154913,21.0,69706.99,18.0,68741.52,32.0,965.47,29.0,89.7300,0.986150,23.0,14.0,0.87
26,26,43.0,Montana,1104271,1084225,4.0,147039.71,4.0,145545.80,26.0,1493.91,49.0,7.5870,0.989840,24.0,15.0,0.86
27,27,37.0,Nebraska,1963692,1961504,16.0,77347.81,15.0,76824.17,41.0,523.64,44.0,25.5600,0.993230,19.0,13.0,0.89
28,28,32.0,Nevada,3143991,3104614,7.0,110571.82,7.0,109781.18,36.0,790.65,43.0,28.6380,0.992850,0.0,1.0,1.19
29,29,41.0,New Hampshire,1388992,1377529,46.0,9349.16,44.0,8952.65,47.0,396.51,22.0,155.1480,0.957589,32.0,18.0,0.83
30,30,11.0,New Jersey,9267130,9288994,47.0,8722.58,46.0,7354.22,27.0,1368.36,2.0,1260.1100,0.843124,38.0,20.0,0.81
31,31,36.0,New Mexico,2115877,2117522,5.0,121590.30,5.0,121298.15,49.0,292.15,46.0,17.4430,0.997597,2.0,3.0,1.16
32,32,4.0,New York,19835913,20201249,27.0,54554.98,30.0,47126.40,7.0,7428.58,8.0,420.9080,0.863833,33.0,18.0,0.83
33,33,9.0,North Carolina,10551162,10439388,28.0,53819.16,29.0,48617.91,10.0,5201.25,16.0,217.0220,0.903357,17.0,12.0,0.90
34,34,47.0,North Dakota,774948,779094,19.0,70698.32,17.0,69000.80,24.0,1697.52,48.0,11.2310,0.975989,30.0,17.0,0.84
35,35,7.0,Ohio,11780017,11799448,34.0,44825.58,35.0,40860.69,14.0,3964.89,11.0,288.2970,0.911548,45.0,23.0,0.74
36,36,28.0,Oklahoma,3986639,3959353,20.0,69898.87,19.0,68594.92,30.0,1303.95,36.0,58.1180,0.981345,6.0,6.0,0.98
37,37,27.0,Oregon,4246155,4237256,9.0,98378.54,10.0,95988.01,20.0,2390.53,40.0,44.2360,0.975701,46.0,24.0,0.71
38,38,5.0,Pennsylvania,12964056,12812508,33.0,46054.34,32.0,44742.70,28.0,1311.64,10.0,289.7460,0.971520,34.0,18.0,0.83
39,39,44.0,Rhode Island,1095610,1097379,50.0,1544.89,50.0,1033.81,43.0,511.07,3.0,1059.7780,0.669180,37.0,19.0,0.82
40,40,23.0,South Carolina,5190705,5118425,40.0,32020.49,40.0,30060.70,21.0,1959.79,20.0,172.6740,0.938796,14.0,10.0,0.92
41,41,46.0,South Dakota,895376,886667,17.0,77115.68,16.0,75811.00,29.0,1304.68,47.0,11.8100,0.983082,22.0,14.0,0.87
42,42,16.0,Tennessee,6975218,6910840,36.0,42144.25,34.0,41234.90,35.0,909.36,21.0,169.1580,0.978423,25.0,16.0,0.85
43,43,2.0,Texas,29527941,29145505,2.0,268596.46,2.0,261231.71,8.0,7364.75,25.0,113.0330,0.972581,5.0,6.0,0.98
44,44,30.0,Utah,3337975,3271616,13.0,84896.88,12.0,82169.62,17.0,2727.26,41.0,40.6220,0.967876,10.0,8.0,0.95
45,45,50.0,Vermont,645570,643077,45.0,9616.36,43.0,9216.66,46.0,399.71,32.0,70.0430,0.958435,43.0,22.0,0.77
46,46,12.0,Virginia,8642274,8631393,35.0,42774.93,36.0,39490.09,15.0,3284.84,15.0,218.8460,0.923206,21.0,14.0,0.87
47,47,13.0,Washington,7738692,7705281,18.0,71297.95,20.0,66455.52,11.0,4842.43,23.0,116.4490,0.932082,47.0,25.0,0.67
48,48,39.0,West Virginia,1782959,1793716,41.0,24230.04,41.0,24038.21,50.0,191.83,30.0,74.1710,0.992083,42.0,21.0,0.79
49,49,20.0,Wisconsin,5895908,5893718,23.0,65496.38,25.0,54157.80,4.0,11338.57,26.0,108.8650,0.826882,39.0,20.0,0.81
50,50,51.0,Wyoming,578803,576851,10.0,97813.01,9.0,97093.14,37.0,719.87,50.0,5.9610,0.992640,7.0,7.0,0.96

In [40]:
income = pd.read_excel(path + 'income_by_state.xls')
income['State'] = income['State'].astype('string')
income['State'] = income['State'].str.strip()
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           51 non-null     string
 1   Average Income  51 non-null     float64
dtypes: float64(1), string(1)
memory usage: 944.0 bytes

In [42]:
income2 = pd.merge(state_abbreviation, income, on = 'State', how = 'outer')
income2.head()

        State State Abbreviation  Average Income
0     Alabama                 AL        80098.86
1      Alaska                 AK        95705.77
2     Arizona                 AZ        93563.15
3    Arkansas                 AR        73595.58
4  California                 CA       109260.14

In [44]:
allfiles2 = pd.merge(allfiles, income2, on = 'State', how = 'outer')
allfiles2.head(60)

,level_0,Population Rank,State,Population in 2021,Population in 2020,Total Size Rank,total_size,Land Size Rank,land area,Water Area Rank,water area,Rank,Population Density,percent_land_area,index,Solar Potential Rank,Sun Index,State Abbreviation,Average Income
0,0,24.0,Alabama,5039877,5024279,30.0,52420.07,28.0,50645.33,23.0,1774.74,28.0,99.5130,0.966144,18.0,13.0,0.89,AL,80098.86
1,1,48.0,Alaska,732673,733391,1.0,665384.04,1.0,570640.95,1.0,94743.10,51.0,1.2830,0.857611,NaN,NaN,NaN,AK,95705.77
2,2,14.0,Arizona,7276316,7151502,6.0,113990.30,6.0,113594.08,48.0,396.22,33.0,64.0550,0.996524,1.0,2.0,1.18,AZ,93563.15
3,3,33.0,Arkansas,3025891,3011524,29.0,53178.55,27.0,52035.48,31.0,1143.07,35.0,58.1500,0.978505,15.0,11.0,0.91,AR,73595.58
4,4,1.0,California,39237836,39538223,3.0,163694.74,3.0,155779.22,6.0,7915.52,12.0,251.8810,0.951645,3.0,4.0,1.00,CA,109260.14
5,5,21.0,Colorado,5812069,5773714,8.0,104093.67,8.0,103641.89,44.0,451.78,38.0,56.0780,0.995660,4.0,5.0,0.99,CO,111730.73
6,6,29.0,Connecticut,3605597,3605944,48.0,5543.41,48.0,4842.36,38.0,701.06,5.0,744.5940,0.873535,40.0,21.0,0.79,CT,112717.99
7,7,45.0,Delaware,1003384,989948,49.0,2488.72,49.0,1948.54,40.0,540.18,7.0,514.9410,0.782949,28.0,17.0,0.84,DE,88015.52
8,8,49.0,District of Columbia,670050,689545,51.0,68.34,51.0,61.05,51.0,7.29,1.0,10975.4290,0.893327,NaN,NaN,NaN,DC,134879.54
9,9,3.0,Florida,21781128,21538187,22.0,65757.70,26.0,53924.76,3.0,12132.94,9.0,403.9170,0.820052,8.0,8.0,0.95,FL,80986.36
10,10,8.0,Georgia,10799566,10711908,24.0,59425.15,21.0,57513.49,22.0,1911.66,18.0,187.7740,0.967831,13.0,10.0,0.92,GA,89679.25
11,11,40.0,Hawaii,1441553,1455271,43.0,10931.72,47.0,6422.63,13.0,4509.09,14.0,224.4490,0.587522,NaN,NaN,NaN,HI,100865.14
12,12,38.0,Idaho,1900923,1839106,14.0,83568.95,11.0,82643.12,33.0,925.83,45.0,23.0010,0.988921,11.0,9.0,0.93,ID,86823.70
13,13,6.0,Illinois,12671469,12702379,25.0,57913.55,24.0,55518.93,19.0,2394.62,13.0,228.2360,0.958652,41.0,21.0,0.79,IL,105406.38
14,14,17.0,Indiana,6805985,6785528,38.0,36419.55,38.0,35826.11,39.0,593.44,17.0,189.9720,0.983705,35.0,18.0,0.83,IN,93692.11
15,15,31.0,Iowa,3193079,3190369,26.0,56272.81,23.0,55869.36,45.0,415.68,37.0,57.1520,0.992830,20.0,14.0,0.87,IA,89448.32
16,16,35.0,Kansas,2934582,2937880,15.0,82278.36,13.0,81758.72,42.0,519.64,42.0,35.8930,0.993684,9.0,8.0,0.95,KS,92077.32
17,17,26.0,Kentucky,4509394,4505836,37.0,40407.80,37.0,39486.34,34.0,921.46,24.0,114.2010,0.977196,36.0,18.0,0.83,KY,79926.50
18,18,25.0,Louisiana,4624047,4657757,31.0,52378.13,33.0,43203.90,5.0,9174.23,27.0,107.0280,0.824846,16.0,12.0,0.90,LA,75323.35
19,19,42.0,Maine,1372247,1362359,39.0,35379.74,39.0,30842.92,12.0,4536.82,39.0,44.4910,0.871768,26.0,17.0,0.84,ME,87585.79
20,20,19.0,Maryland,6165129,6177224,42.0,12405.93,42.0,9707.24,18.0,2698.69,6.0,635.1062,0.782468,27.0,17.0,0.84,MD,130850.25
21,21,15.0,Massachusetts,6984723,7029917,44.0,10554.39,45.0,7800.06,16.0,2754.33,4.0,895.4700,0.739035,31.0,18.0,0.83,MA,127044.96
22,22,10.0,Michigan,10050811,10077331,11.0,96713.51,22.0,56538.90,2.0,40174.61,19.0,177.7680,0.584602,44.0,22.0,0.77,MI,98869.62
23,23,22.0,Minnesota,5707390,5706494,12.0,86935.83,14.0,79626.74,9.0,7309.09,31.0,71.6760,0.915925,29.0,17.0,0.84,MN,112222.51
24,24,34.0,Mississippi,2949968,2961279,32.0,48431.78,31.0,46923.27,25.0,1508.51,34.0,62.8670,0.968853,12.0,10.0,0.92,MS,66127.66
25,25,18.0,Missouri,6168187,6154913,21.0,69706.99,18.0,68741.52,32.0,965.47,29.0,89.7300,0.986150,23.0,14.0,0.87,MO,89400.64
26,26,43.0,Montana,1104271,1084225,4.0,147039.71,4.0,145545.80,26.0,1493.91,49.0,7.5870,0.989840,24.0,15.0,0.86,MT,81696.69
27,27,37.0,Nebraska,1963692,1961504,16.0,77347.81,15.0,76824.17,41.0,523.64,44.0,25.5600,0.993230,19.0,13.0,0.89,NE,98805.87
28,28,32.0,Nevada,3143991,3104614,7.0,110571.82,7.0,109781.18,36.0,790.65,43.0,28.6380,0.992850,0.0,1.0,1.19,NV,83588.38
29,29,41.0,New Hampshire,1388992,1377529,46.0,9349.16,44.0,8952.65,47.0,396.51,22.0,155.1480,0.957589,32.0,18.0,0.83,NH,111787.94
30,30,11.0,New Jersey,9267130,9288994,47.0,8722.58,46.0,7354.22,27.0,1368.36,2.0,1260.1100,0.843124,38.0,20.0,0.81,NJ,119883.97
31,31,36.0,New Mexico,2115877,2117522,5.0,121590.30,5.0,121298.15,49.0,292.15,46.0,17.4430,0.997597,2.0,3.0,1.16,NM,72198.14
32,32,4.0,New York,19835913,20201249,27.0,54554.98,30.0,47126.40,7.0,7428.58,8.0,420.9080,0.863833,33.0,18.0,0.83,NY,101402.76
33,33,9.0,North Carolina,10551162,10439388,28.0,53819.16,29.0,48617.91,10.0,5201.25,16.0,217.0220,0.903357,17.0,12.0,0.90,NC,83726.98
34,34,47.0,North Dakota,774948,779094,19.0,70698.32,17.0,69000.80,24.0,1697.52,48.0,11.2310,0.975989,30.0,17.0,0.84,ND,87614.50
35,35,7.0,Ohio,11780017,11799448,34.0,44825.58,35.0,40860.69,14.0,3964.89,11.0,288.2970,0.911548,45.0,23.0,0.74,OH,82814.43
36,36,28.0,Oklahoma,3986639,3959353,20.0,69898.87,19.0,68594.92,30.0,1303.95,36.0,58.1180,0.981345,6.0,6.0,0.98,OK,76735.96
37,37,27.0,Oregon,4246155,4237256,9.0,98378.54,10.0,95988.01,20.0,2390.53,40.0,44.2360,0.975701,46.0,24.0,0.71,OR,104543.28
38,38,5.0,Pennsylvania,12964056,12812508,33.0,46054.34,32.0,44742.70,28.0,1311.64,10.0,289.7460,0.971520,34.0,18.0,0.83,PA,100056.02
39,39,44.0,Rhode Island,1095610,1097379,50.0,1544.89,50.0,1033.81,43.0,511.07,3.0,1059.7780,0.669180,37.0,19.0,0.82,RI,100468.74
40,40,23.0,South Carolina,5190705,5118425,40.0,32020.49,40.0,30060.70,21.0,1959.79,20.0,172.6740,0.938796,14.0,10.0,0.92,SC,83231.97
41,41,46.0,South Dakota,895376,886667,17.0,77115.68,16.0,75811.00,29.0,1304.68,47.0,11.8100,0.983082,22.0,14.0,0.87,SD,90680.44
42,42,16.0,Tennessee,6975218,6910840,36.0,42144.25,34.0,41234.90,35.0,909.36,21.0,169.1580,0.978423,25.0,16.0,0.85,TN,80185.14
43,43,2.0,Texas,29527941,29145505,2.0,268596.46,2.0,261231.71,8.0,7364.75,25.0,113.0330,0.972581,5.0,6.0,0.98,TX,96468.32
44,44,30.0,Utah,3337975,3271616,13.0,84896.88,12.0,82169.62,17.0,2727.26,41.0,40.6220,0.967876,10.0,8.0,0.95,UT,107811.18
45,45,50.0,Vermont,645570,643077,45.0,9616.36,43.0,9216.66,46.0,399.71,32.0,70.0430,0.958435,43.0,22.0,0.77,VT,98588.88
46,46,12.0,Virginia,8642274,8631393,35.0,42774.93,36.0,39490.09,15.0,3284.84,15.0,218.8460,0.923206,21.0,14.0,0.87,VA,114811.15
47,47,13.0,Washington,7738692,7705281,18.0,71297.95,20.0,66455.52,11.0,4842.43,23.0,116.4490,0.932082,47.0,25.0,0.67,WA,106549.53
48,48,39.0,West Virginia,1782959,1793716,41.0,24230.04,41.0,24038.21,50.0,191.83,30.0,74.1710,0.992083,42.0,21.0,0.79,WV,75856.35
49,49,20.0,Wisconsin,5895908,5893718,23.0,65496.38,25.0,54157.80,4.0,11338.57,26.0,108.8650,0.826882,39.0,20.0,0.81,WI,91538.21
50,50,51.0,Wyoming,578803,576851,10.0,97813.01,9.0,97093.14,37.0,719.87,50.0,5.9610,0.992640,7.0,7.0,0.96,WY,80389.41

In [45]:
## Part 3: Read in Data for EV Market Share
EV_marketshare = pd.read_excel(path + '\EV_market_share.xls')
EV_marketshare.head()

,State,2019_BEV_Sales,2019_BEV_Market_Share,2019_PHEV_Sales,2019_PHEV_Market_Share,EV_BEV_PHEV_Share,EV_BEV_PHEV_Sales
0,Alabama,722,0.0037,285,0.0015,0.0052,1007
1,Alaska,87,0.0035,56,0.0023,0.0058,143
2,Arizona,6637,0.0220,954,0.0032,0.0252,7591
3,Arkansas,370,0.0031,168,0.0014,0.0045,538
4,California,100549,0.0516,44471,0.0228,0.0744,145020

In [46]:
EV_marketshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   52 non-null     object
 1   2019_BEV_Sales          52 non-null     int64
 2   2019_BEV_Market_Share   52 non-null     float64
 3   2019_PHEV_Sales         52 non-null     int64
 4   2019_PHEV_Market_Share  52 non-null     float64
 5   EV_BEV_PHEV_Share       52 non-null     float64
 6   EV_BEV_PHEV_Sales       52 non-null     int64
dtypes: float64(3), int64(3), object(1)
memory usage: 3.0+ KB

In [48]:
EV_marketshare['EV_BEV_PHEV_Share'].mean()

0.015242307692307692

In [50]:
## Part 4: Combine All Data
filescombined = pd.merge(allfiles2, EV_marketshare, on = 'State', how = 'outer')
filescombined = filescombined[~(filescombined['Population Rank'].isnull())]
filescombined.head(60)

,level_0,Population Rank,State,Population in 2021,Population in 2020,Total Size Rank,total_size,Land Size Rank,land area,Water Area Rank,...,Solar Potential Rank,Sun Index,State Abbreviation,Average Income,2019_BEV_Sales,2019_BEV_Market_Share,2019_PHEV_Sales,2019_PHEV_Market_Share,EV_BEV_PHEV_Share,EV_BEV_PHEV_Sales
0,0.0,24.0,Alabama,5039877.0,5024279.0,30.0,52420.07,28.0,50645.33,23.0,...,13.0,0.89,AL,80098.86,722,0.0037,285,0.0015,0.0052,1007
1,1.0,48.0,Alaska,732673.0,733391.0,1.0,665384.04,1.0,570640.95,1.0,...,NaN,NaN,AK,95705.77,87,0.0035,56,0.0023,0.0058,143
2,2.0,14.0,Arizona,7276316.0,7151502.0,6.0,113990.30,6.0,113594.08,48.0,...,2.0,1.18,AZ,93563.15,6637,0.0220,954,0.0032,0.0252,7591
3,3.0,33.0,Arkansas,3025891.0,3011524.0,29.0,53178.55,27.0,52035.48,31.0,...,11.0,0.91,AR,73595.58,370,0.0031,168,0.0014,0.0045,538
4,4.0,1.0,California,39237836.0,39538223.0,3.0,163694.74,3.0,155779.22,6.0,...,4.0,1.00,CA,109260.14,100549,0.0516,44471,0.0228,0.0744,145020
5,5.0,21.0,Colorado,5812069.0,5773714.0,8.0,104093.67,8.0,103641.89,44.0,...,5.0,0.99,CO,111730.73,7124,0.0225,1883,0.0060,0.0285,9007
6,6.0,29.0,Connecticut,3605597.0,3605944.0,48.0,5543.41,48.0,4842.36,38.0,...,21.0,0.79,CT,112717.99,2383,0.0141,927,0.0055,0.0196,3310
7,7.0,45.0,Delaware,1003384.0,989948.0,49.0,2488.72,49.0,1948.54,40.0,...,17.0,0.84,DE,88015.52,579,0.0125,243,0.0052,0.0177,822
8,8.0,49.0,District of Columbia,670050.0,689545.0,51.0,68.34,51.0,61.05,51.0,...,NaN,NaN,DC,134879.54,726,0.0387,289,0.0154,0.0541,1015
9,9.0,3.0,Florida,21781128.0,21538187.0,22.0,65757.70,26.0,53924.76,3.0,...,8.0,0.95,FL,80986.36,13137,0.0108,2657,0.0022,0.0130,15794
10,10.0,8.0,Georgia,10799566.0,10711908.0,24.0,59425.15,21.0,57513.49,22.0,...,10.0,0.92,GA,89679.25,4227,0.0100,911,0.0021,0.0121,5138
11,11.0,40.0,Hawaii,1441553.0,1455271.0,43.0,10931.72,47.0,6422.63,13.0,...,NaN,NaN,HI,100865.14,2488,0.0253,629,0.0064,0.0317,3117
12,12.0,38.0,Idaho,1900923.0,1839106.0,14.0,83568.95,11.0,82643.12,33.0,...,9.0,0.93,ID,86823.70,383,0.0065,155,0.0026,0.0091,538
13,13.0,6.0,Illinois,12671469.0,12702379.0,25.0,57913.55,24.0,55518.93,19.0,...,21.0,0.79,IL,105406.38,6321,0.0110,1309,0.0023,0.0133,7630
14,14.0,17.0,Indiana,6805985.0,6785528.0,38.0,36419.55,38.0,35826.11,39.0,...,18.0,0.83,IN,93692.11,1751,0.0075,456,0.0019,0.0094,2207
15,15.0,31.0,Iowa,3193079.0,3190369.0,26.0,56272.81,23.0,55869.36,45.0,...,14.0,0.87,IA,89448.32,502,0.0045,251,0.0023,0.0068,753
16,16.0,35.0,Kansas,2934582.0,2937880.0,15.0,82278.36,13.0,81758.72,42.0,...,8.0,0.95,KS,92077.32,657,0.0077,190,0.0022,0.0099,847
17,17.0,26.0,Kentucky,4509394.0,4505836.0,37.0,40407.80,37.0,39486.34,34.0,...,18.0,0.83,KY,79926.50,580,0.0039,224,0.0015,0.0054,804
18,18.0,25.0,Louisiana,4624047.0,4657757.0,31.0,52378.13,33.0,43203.90,5.0,...,12.0,0.90,LA,75323.35,527,0.0025,193,0.0009,0.0034,720
19,19.0,42.0,Maine,1372247.0,1362359.0,39.0,35379.74,39.0,30842.92,12.0,...,17.0,0.84,ME,87585.79,518,0.0079,471,0.0072,0.0151,989
20,20.0,19.0,Maryland,6165129.0,6177224.0,42.0,12405.93,42.0,9707.24,18.0,...,17.0,0.84,MD,130850.25,5169,0.0189,1637,0.0060,0.0249,6806
21,21.0,15.0,Massachusetts,6984723.0,7029917.0,44.0,10554.39,45.0,7800.06,16.0,...,18.0,0.83,MA,127044.96,5646,0.0162,2212,0.0063,0.0225,7858
22,22.0,10.0,Michigan,10050811.0,10077331.0,11.0,96713.51,22.0,56538.90,2.0,...,22.0,0.77,MI,98869.62,808,0.0014,1022,0.0017,0.0031,1830
23,23.0,22.0,Minnesota,5707390.0,5706494.0,12.0,86935.83,14.0,79626.74,9.0,...,17.0,0.84,MN,112222.51,2823,0.0108,817,0.0031,0.0139,3640
24,24.0,34.0,Mississippi,2949968.0,2961279.0,32.0,48431.78,31.0,46923.27,25.0,...,10.0,0.92,MS,66127.66,167,0.0017,106,0.0011,0.0028,273
25,25.0,18.0,Missouri,6168187.0,6154913.0,21.0,69706.99,18.0,68741.52,32.0,...,14.0,0.87,MO,89400.64,1597,0.0066,456,0.0019,0.0085,2053
26,26.0,43.0,Montana,1104271.0,1084225.0,4.0,147039.71,4.0,145545.80,26.0,...,15.0,0.86,MT,81696.69,230,0.0047,88,0.0018,0.0065,318
27,27.0,37.0,Nebraska,1963692.0,1961504.0,16.0,77347.81,15.0,76824.17,41.0,...,13.0,0.89,NE,98805.87,372,0.0049,144,0.0019,0.0068,516
28,28.0,32.0,Nevada,3143991.0,3104614.0,7.0,110571.82,7.0,109781.18,36.0,...,1.0,1.19,NV,83588.38,2816,0.0201,411,0.0029,0.0230,3227
29,29.0,41.0,New Hampshire,1388992.0,1377529.0,46.0,9349.16,44.0,8952.65,47.0,...,18.0,0.83,NH,111787.94,690,0.0081,340,0.0040,0.0121,1030
30,30.0,11.0,New Jersey,9267130.0,9288994.0,47.0,8722.58,46.0,7354.22,27.0,...,20.0,0.81,NJ,119883.97,7276,0.0127,2157,0.0038,0.0165,9433
31,31.0,36.0,New Mexico,2115877.0,2117522.0,5.0,121590.30,5.0,121298.15,49.0,...,3.0,1.16,NM,72198.14,539,0.0069,248,0.0032,0.0101,787
32,32.0,4.0,New York,19835913.0,20201249.0,27.0,54554.98,30.0,47126.40,7.0,...,18.0,0.83,NY,101402.76,8830,0.0090,5993,0.0061,0.0151,14823
33,33.0,9.0,North Carolina,10551162.0,10439388.0,28.0,53819.16,29.0,48617.91,10.0,...,12.0,0.90,NC,83726.98,4483,0.0113,910,0.0023,0.0136,5393
34,34.0,47.0,North Dakota,774948.0,779094.0,19.0,70698.32,17.0,69000.80,24.0,...,17.0,0.84,ND,87614.50,92,0.0025,22,0.0006,0.0031,114
35,35.0,7.0,Ohio,11780017.0,11799448.0,34.0,44825.58,35.0,40860.69,14.0,...,23.0,0.74,OH,82814.43,4744,0.0081,1159,0.0020,0.0101,5903
36,36.0,28.0,Oklahoma,3986639.0,3959353.0,20.0,69898.87,19.0,68594.92,30.0,...,6.0,0.98,OK,76735.96,551,0.0023,223,0.0009,0.0032,774
37,37.0,27.0,Oregon,4246155.0,4237256.0,9.0,98378.54,10.0,95988.01,20.0,...,24.0,0.71,OR,104543.28,5366,0.0332,1697,0.0105,0.0437,7063
38,38.0,5.0,Pennsylvania,12964056.0,12812508.0,33.0,46054.34,32.0,44742.70,28.0,...,18.0,0.83,PA,100056.02,4339,0.0068,2015,0.0032,0.0100,6354
39,39.0,44.0,Rhode Island,1095610.0,1097379.0,50.0,1544.89,50.0,1033.81,43.0,...,19.0,0.82,RI,100468.74,405,0.0076,277,0.0052,0.0128,682
40,40.0,23.0,South Carolina,5190705.0,5118425.0,40.0,32020.49,40.0,30060.70,21.0,...,10.0,0.92,SC,83231.97,956,0.0046,379,0.0018,0.0064,1335
41,41.0,46.0,South Dakota,895376.0,886667.0,17.0,77115.68,16.0,75811.00,29.0,...,14.0,0.87,SD,90680.44,109,0.0030,77,0.0021,0.0051,186
42,42.0,16.0,Tennessee,6975218.0,6910840.0,36.0,42144.25,34.0,41234.90,35.0,...,16.0,0.85,TN,80185.14,1773,0.0070,349,0.0014,0.0084,2122
43,43.0,2.0,Texas,29527941.0,29145505.0,2.0,268596.46,2.0,261231.71,8.0,...,6.0,0.98,TX,96468.32,3460,0.0028,2320,0.0019,0.0047,5780
44,44.0,30.0,Utah,3337975.0,3271616.0,13.0,84896.88,12.0,82169.62,17.0,...,8.0,0.95,UT,107811.18,2327,0.0142,702,0.0043,0.0185,3029
45,45.0,50.0,Vermont,645570.0,643077.0,45.0,9616.36,43.0,9216.66,46.0,...,22.0,0.77,VT,98588.88,662,0.0154,343,0.0080,0.0234,1005
46,46.0,12.0,Virginia,8642274.0,8631393.0,35.0,42774.93,36.0,39490.09,15.0,...,14.0,0.87,VA,114811.15,5677,0.0153,1337,0.0036,0.0189,7014
47,47.0,13.0,Washington,7738692.0,7705281.0,18.0,71297.95,20.0,66455.52,11.0,...,25.0,0.67,WA,106549.53,10256,0.0359,1916,0.0067,0.0426,12172
48,48.0,39.0,West Virginia,1782959.0,1793716.0,41.0,24230.04,41.0,24038.21,50.0,...,21.0,0.79,WV,75856.35,179,0.0035,71,0.0014,0.0049,250
49,49.0,20.0,Wisconsin,5895908.0,5893718.0,23.0,65496.38,25.0,54157.80,4.0,...,20.0,0.81,WI,91538.21,1381,0.0057,581,0.0024,0.0081,1962
50,50.0,51.0,Wyoming,578803.0,576851.0,10.0,97813.01,9.0,97093.14,37.0,...,7.0,0.96,WY,80389.41,100,0.0028,44,0.0012,0.0040,144

In [51]:
## Part 5: Impute Missing Values