In [5]:
# Analysis Exercise 1
'''
Frank Mulligrew is the algebra coordinator for Washington, DC public schools. He is required by the school board to gather some statistics. Using the information about his class, calculate the following:
    1. Percentage of students with a passing grade
    2. Percentage of women with a passing grade
    3. Average hours of study for all students
    4. Average hours of study for students with a passing grade
'''
import pandas as pd
df = pd.read_csv('datasets/algebradata.csv')
df

        Fname      Lname Gender Grade  Hours of Study
0        Mary   Ettienne      F     B              16
1     Charles     Looner      M     F               8
2       Betty   Franklin      F     A              24
3       Roger    Withers      M     C               5
4        John    Mulgrew      M     A               5
..        ...        ...    ...   ...             ...
994    Harold     Looner      M     D              11
995     Paula      Moore      F     C               6
996    Martin   Franklin      M     C              25
997    Nicole  Henderson      F     A              20
998  Veronica   Harrison      F     D              21

[999 rows x 5 columns]

In [6]:
# Data preprocessing
# check if there's any missing values
pd.DataFrame(df.isnull().sum())

                0
Fname           0
Lname           0
Gender          0
Grade           0
Hours of Study  0

In [12]:
# Percentage of students with a passing grade
df[df['Grade'] != 'F']['Grade'].count() / df['Grade'].count()

0.9169169169169169

In [15]:
# Percentage of women with a passing grade
df[(df['Gender'] == 'F') & (df['Grade'] != 'F')]['Grade'].count() / df[df['Gender'] == 'F']['Grade'].count()

0.9536679536679536

In [21]:
# Average hours of study for all students
df['Hours of Study'].mean()

15.115115115115115

In [22]:
# Average hours of study for students with a passing grade
df[df['Grade'] != 'F']['Hours of Study'].mean()

15.875545851528384

In [23]:
# Analysis Exercise 2
'''
Carlos Hugens is the sales manager for Axis Auto Sales, a low-cost regional chain of used car lots. Carlos is getting ready for his annual sales meeting and is looking for the best way to improve his sales group’s 
performance. His data includes the gender, years of experience, sales training, and hours worked per week for each team member. It also includes the average cars sold per month by each salesperson. Find out the following:
    1. Average cars sold per month
    2. Max cars sold per month
    3. Min cars sold per month
    4. Average cars sold per month by gender
    5. Average hours worked by people selling more than three cars per month
    6. Average years of experience
    7. Average years of experience for people selling more than three cars per month
    8. Average cars sold per month sorted by whether they have had sales training
What do you think is the best indicator of whether someone is a good salesperson?
'''
import pandas as pd
df = pd.read_csv('datasets/axisdata.csv')
df

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2
...,...,...,...,...,...,...,...
994,Victor,Kane,M,22,Y,5,4
995,Charles,Turner,M,45,N,1,4
996,August,Franklin,F,34,Y,4,3
997,Victoria,Rogers,F,29,N,5,1
998,Mike,Gerardo,M,20,N,3,3

In [24]:
# Data preprocessing
# check if there's any missing values
pd.DataFrame(df.isnull().sum())

                  0
Fname             0
Lname             0
Gender            0
Hours Worked      0
SalesTraining     0
Years Experience  0
Cars Sold         0

In [25]:
# Average cars sold per month
df['Cars Sold'].mean()

3.9229229229229228

In [26]:
# Max cars sold per month
df['Cars Sold'].max()

7

In [27]:
# Min cars sold per month
df['Cars Sold'].min()

1

In [29]:
# Average cars sold per month by gender
df.groupby('Gender')['Cars Sold'].mean()

Gender
F    3.760736
M    4.078431
Name: Cars Sold, dtype: float64

In [36]:
# Average hours worked by people selling more than three cars per month
df[df['Cars Sold'] > 3]['Hours Worked'].mean()

34.740237691001695

In [37]:
# Average years of experience
df['Years Experience'].mean()

3.026026026026026

In [38]:
# Average years of experience for people selling more than three cars per month
df[df['Cars Sold'] > 3]['Years Experience'].mean()

3.0492359932088284

In [39]:
# Average cars sold per month sorted by whether they have had sales training
df.groupby('SalesTraining')['Cars Sold'].mean()

SalesTraining
N    3.573850
Y    4.168942
Name: Cars Sold, dtype: float64

In [34]:
# Analysis Exercise 3
'''
Baumgartner DVD’s sells high-quality DVD duplicators nationwide. You have just been promoted to sales manager and tasked with analyzing sales trends and making decisions about the best way to handle your sales 
in the future. Right now, each of your salespeople covers one or more districts within the same region. Your salespeople contact their customers through either emails, phone calls, or office visits. \Emails take 
about one minute each. Phone calls take about twenty minutes each, and office visits take about two hours. Your staff people work a standard forty-hour week.
    1. Figure out the impact of communication methods on number of duplicators sold in a month.
    2. Build a model that will predict the number of sales given the number of clients and frequency of each mode of communication.
'''

In [45]:
import pandas as pd
df = pd.read_excel("datasets/dvddata.xlsx")
df

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/dvddata.xlsx'

In [46]:
# Analysis Exercise 4
'''
The data can be found in datasets/tamiami.xlsx. Tami, from Miami, wants to open a tamale cart in New York City. She 
already knows her expenses, but she doesn’t know what to charge. She was 
able to secure the average daily sales data for hot-dog carts by district in the 
NYC area. Analyze this data to figure out a relationship between price and 
quantity sold. You can use this relationship as a benchmark for what people 
are willing to spend for a quick lunch. You need to provide the following:
1. The list of other relevant factors (other than price) 
that affect sales (if any)
2. The equation for sales quantity
'''
import pandas as pd
df = pd.read_excel("datasets/tamiami.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/tamiami.xlsx'

In [ ]:
# Analysis Project
'''
The data can be found in datasets/southstyle.xlsx.
South Carolina–based SouthStyle Foods, a leading manufacturer of 
sausage, has been selling its products under the brand name SouthStyle 
for the last 40 years. SouthStyle Foods is engaged in the manufacturing andmarketing of high-quality southern-style processed foods such as sausage, 
bacon, hoppin’ john, collard greens, etc. The company provides a perfect 
blend of traditional southern-style taste tailored to the requirements 
and preferences of the modern consumer. It combines better taste with 
natural purity, innovative packaging, and care for health and comes at a 
reasonable price.
With quality food products and focus on customer satisfaction, 
SouthStyle Foods maintains a leading position in the processed food section 
by widening its customer base and making its products available at affordable 
prices both in South Carolina and nationwide. As a part of its initiatives, the 
company planned to expand its business to increase the sales of its products 
in other regions. However, for this, the company wants to know the factors 
that can increase sales across different states. However, with some new 
companies coming up, very recently the company witnessed an increase in 
competition across the industry, resulting in a decrease in its sales.
To discuss the issues, the president, Ashley Sears, called a meeting 
of the company’s senior officers. During a rather lively discussion, they 
discussed many factors for the fall in sales. However, no common factor 
emerged. The marketing VP suggested hiring a consultant experienced in 
business research, and everyone agreed.
SouthStyle Foods hired your marketing research agency, Care 
Research, for the job. After listening to the problem, your boss thought of 
using a cross-sectional analysis of the problem, as there are 30 territories 
from which it must collect data. Your firm started identifying the variables 
that, according to the company, might have an impact on sales. Based on 
the collected information (Exhibit I) and the previous studies done, you 
came up with five important variables that are expected to be crucial in 
determining the sales. These variables are market potential in the territory, 
number of shops selling processed foods, number of brokers, number of 
popular brands in that territory, and population of that territory. 
The marketing VP wants to know the most important factor or factors to 
focus on. He also wants to know the likely future demand.
Required Deliverables
1. Identify the most important factors for SouthStyle 
Foods to focus on.
2. Create a formula or model that will allow SouthStyle 
Foods to forecast their sales as they move into new 
territories.
'''